doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        title Gamix
    body 
        header.header#header
            .container.header-container
                img(src="../images/header-logo.png", alt="")
                nav.header-nav 
                    a(href="#").nav-link Home 
                    a(href="#").nav-link Games
                    a(href="#").nav-link About
                    a(href="#").nav-link Contact
                    button.main-btn Get Started
        main 
            section.hero 
                .container.hero-container
                    .hero-left
                        p.hero-left-pt Game Tournament Here
                        h1.hero-left-h1 New Games That You
                        p.hero-left-p Gaming and Sports Template that is designed to build modern Online Game, Gaming News Portal, Gaming Online News Portal, and other News services websites and it is suitable for any kind of small business activity.
                        button.main-btn  Get Started for Free
                    
                    .hero-right 
                    img(src="../images/hero-right.png", alt="").hero-right-img
